
services:
  stats-db:
    image: postgres:15
    env_file: .env
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: unless-stopped
    ports:
      - "6432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  stats-backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    image: scavenger-stats-backend:latest
    env_file: .env
    depends_on:
      stats-db:
        condition: service_healthy
    ports:
      - "8980:8080"
    restart: unless-stopped


  miner:
    build:
      context: .
      dockerfile: Dockerfile
    image: scavenger-miner:latest
    env_file: .env
    volumes:
      - ./config:/usr/local/bin/config
    restart: unless-stopped
    mem_limit: 6G
    mem_reservation: 5G
#    cpus: 4
#    cpu_shares: 1024
#    cpuset: "0-3"